/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/open-sans-v17-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-100 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: local('Poppins Thin'), local('Poppins-Thin'),
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/kul_datavisualisation/assets/fonts/poppins-v8-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-300 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Nunito Light'), local('Nunito-Light'),
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-300.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-600 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-800 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/kul_datavisualisation/assets/fonts/nunito-v11-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
}
